/* .{
    margin: 0;
    padding: 0;
} */

body{
    background: linear-gradient(rgb(234, 1, 255),rgb(212, 10, 10));
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.Bbox{
    padding: 50px;
    position: relative;
    top: 50px;
    width: 220px;
    margin: auto;
    line-height: 1.5em;
    background-color: rgba(40, 40, 41, 0.5);
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    color: rgb(185, 189, 185);
    font-family: 'Courier New', Courier, monospace;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin: 3px;
}
.btn{
    /* height: 30px; */
    width: 70px;
    margin: auto;
    background-color: rgb(33, 141, 33);
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;

}
.btn:hover{
    background-color: green;
}

#shortPassword{
    position: relative;
    top: -10px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    visibility: hidden;
}

#signedUp{
    visibility: hidden;
    color: rgb(255, 255, 255);
}

#noName{
    position: relative;
    top: -10px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    visibility: hidden;
}
#noEmail{
    position: relative;
    top: -10px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    visibility: hidden;
}